<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="./DC3.js"></script>
    <title>Document</title>
  </head>
  <body ng-app="app">
    hii
    <div ng-controller="msg">
      <div message ng-repeat="o in data" >
        
      </div>
      <hr>
      <button ng-click="total()">total</button>
      result = {{res}}
    </div>
  </body>
</html>
